:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}


.activate {
    border: 2px solid blue;
    font-weight: bold ;
    color: lightblue;
    text-decoration: none;
    font-size: 2em;
    background-color: aquamarine;
    width: 100%;
  
  
  }
